@import '../../assets/styles/config';

.form {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
}

.form_row > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    margin: $form-item-margin;
}

.form input, .form select {
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: $form-input-fontsize;
    outline: none;
}

.form label {  
    font-size: $form-label-fontsize;
    margin-bottom: $form-label-margin-bottom; 
}
