@import '../../assets/styles/config';

.menu {
    background-color: $menu-background;
    color: $menu-text;
    max-height: $menu-height;
    min-height: $menu-height;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    color: $menu-text;
}