.uibutton {
    background-color: #cccccc;
    color: #000000;
    border: none;
    outline: none;
    padding: 0.7em 1.5em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uibutton:active {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px;
    background-color: #bbbbbb;
}
.uibutton:hover {
    opacity: 1;
}

.uibutton--primary {
    background-color: #660066;
    color: #ffffff;
}
.uibutton--primary:active {
    background-color: #ac00e6;
}

.uibutton--secondary {
    background-color: #ee6c02;
    color: #ffffff;
}

.uibutton--secondary:active {
    background-color: #ff9b3e;
}

.uibutton:disabled {
    background-color: #cccccc;
    color: #999999;
    box-shadow: none;
}

.uibutton--add{
    font-size: 1.3rem;
    display: flex;
    align-items: flex-end;
    max-height: 2.3rem;
    min-height: 2.3rem;
}

.uibutton--floating {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    border-radius: 50%;
    font-size: 2.5em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
}

.uibutton__container {
    position: relative;
}

.uibutton__appcontainer > div {
    transform: translateZ(0);
}