@import '../../assets/styles/config';


.item {
    background-color: #660666;
    border-radius: 0.5rem;
    display: flex;
    border-bottom: 1px solid $item-border;
    color: $item-text;
}

.item_data {
    flex: 1;
    display: table-column ;
    grid-template-columns: 1fr 1fr;
    padding: $item-padding;
}

.item_amount, .item_timespan, .item_average {
    text-align: right;
}

.item_type, .item_amount {
    font-weight: bold;
    color: $item-text-strong;
}

.item_winOrLoss {
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    margin-top: 2.3rem;
    right: 60px;
}

.item_edit a {
    color: $item-edit-background;
}

.item_edit a:hover {
    color: #330033;
}





