@import '../../assets/styles/config';

.header {
    background-color: $header-background;
    max-height: $header-height;
    min-height: $header-height;
    font-size: $header-fontsize;
    display: flex;
    text-shadow: $header-text-shadow;
}

.header_Add {
    position: relative;
    left: 330px;
}

.header_logo {
    position: relative;
}

a {
    color: #ffffff;
    text-decoration: none;
}

